.formaBalota {
    width: 3.5rem;
    height: 3.5rem;
    font-size: clamp(1.5rem, 6vw, 4rem);
    color: white;
    background: radial-gradient(
        circle at 0 0, 
        hsl(7, 100%, 50%) 25%, 
        hsl(0, 89%, 14%) 70%, 
        hsl(60, 8%, 17%)
    );
    border-radius: 50%;
    border-color: black;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    margin-top: 2%;
    margin-bottom: 2%;
}


@media (min-width: 600px) {
    .formaBalota {
        width: 6rem;
        height: 6rem;
    }
}


@media (min-width: 900px) {
    .formaBalota {
        width: 8rem;
        height: 8rem;
    }
}